@charset "UTF-8";

:root{
    --cor0:#f7f6f4;
    --cor1:#C4C3B9;
    --cor3:#9C9A92;
    --cor4:#73726C;
    --cor5:#4A4946;

}
* {
    margin: 0px;
    padding: 0px;
}


body{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background:var(--cor0);
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    rgb(232,230,219)
    rgb(236,234,230);
}

.menu-principal{
    width: 100%;
    background-color: #ffffff;
    height: 60px;
}

.logo img {
    float: left;
    padding: 5px;
    width: 0%;
    width: 50px;
    margin: 0 5px;
}
main{
    margin: 0 auto;
    width: 98%;
    position: relative;
}

.redes-sociais ul li {

    display: inline-block;
    float: right;
    margin: 0px 1px;
}
.redes-sociais{
    width: 10%;
    float: right;
}
.menu ul li > div{
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 1px;
    
}
.menu ul li:hover > div{
    display: block;
}
.menu ul li  {
    display: inline-block;
    margin:  16px;
    
}
.menu ul li a:hover{
    color: rgb(78, 7, 7);

}
.menu ul li :hover{
    border-bottom: 1px solid rgb(78, 7, 7);
}
.menu{
    width: 70%;
    padding: 3px;
}
.menu ul li a {
    color: black;
    text-decoration: none;
    text-transform: capitalize;

}
div.busca{

    float: right;

}
.busca input{
    background-image: url('../imagens/lupa.png');
    border: 2px solid #d6d6d6;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20px;
    width: 100px;
    margin-top: 18px;

}
.mapa{
    width: 300px;
    height: 300px;
    margin: auto;
    background: #ffffff;
    border-radius: 20px;
    float: right;
    

}
.mapa iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    

}
.imagens-meio{
    text-align: center;
}

.imagens-meio img{
    display: inline-block;
    margin: 10px 30px;
    border-radius: 20px;
    width: 200px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.585);
    
    
}
.titulos{
    margin-left: 200px;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    color: brown;
     
}
.imagens-meio img:hover{
    width: 250px;
    transition: width 0.3s, height 0.3s;

}
.roubada{
    width: 100%;

}
.espaço-branco{
    height: 50px;

}
.meio-0{
    text-align: center;
    width: 1000px;
    
}
.meio-0 img {
    display: inline-block;
    width: 300px;
    height: 400px;
    margin: 1px 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.585);
}







